body,html {
    margin: 0;
    padding: 0;
    background-color: azure;
}
* {
    box-sizing: border-box;
}
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#clock {
    font-family: Noto-Serif;
    font-size: 15vw;
    color: black;
}
#date-year {
    font-family: Noto-Serif;
    font-size: 2vw;
    color: black;
}
.controls {
    margin-top: 16px;
}
.button {
    font-weight: bold;
    border-radius: 5px;
    border: none;
    color: aliceblue;
    padding: 4px 8px;
    margin-left: 4px;
    cursor: pointer;
}
.button:hover {
    color: rgb(243, 207, 164);
}
.set-alarm {
    background-color: darkcyan;
}
.clear-alarm {
    background-color: crimson;
}